<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5498657096-r55ge9690p0rdinb6pb2bd40q9dhrkn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5498657096-r55ge9690p0rdinb6pb2bd40q9dhrkn7</string>
	<key>API_KEY</key>
	<string>AIzaSyAiR2HYTGk-t0JYkGR7zCVo_KgxAnwmXiI</string>
	<key>GCM_SENDER_ID</key>
	<string>5498657096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ubc.foodbuddy</string>
	<key>PROJECT_ID</key>
	<string>foodbuddy</string>
	<key>STORAGE_BUCKET</key>
	<string>foodbuddy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5498657096:ios:f4959f937c54706c</string>
	<key>DATABASE_URL</key>
	<string>https://foodbuddy-7fe2a.firebaseio.com</string>
</dict>
</plist>